/* .App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.accordion {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.3em;
  width: 18rem !important;

}

.card-header {
  display: flex;
  cursor: pointer;
}

.App {
  background-color: rgb(39, 38, 36);
  padding-top: 2em;
  padding-bottom: 2em;
}

.card {
  border-radius: 0px !important;
} */
